@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

header {
    background-color: lightgray;
}

header > h1 {
    text-align: left;
    padding: 1.5rem 1rem;
    font-size: 1.8em;
    line-height: 1.4em;
    width: 80vw;
}

header > menu {
    display: block;
}

header ul {
    list-style-type: none;
    text-align: center;
}

header a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 0.6rem;
    border-top: 2px solid rgb(204, 202, 202);
    color: white;
    background-color: rgb(78, 78, 78);
}

header a:hover {
    background-color: gray;
}

main {
    margin: auto;
    line-height: 1.5em;
    background-color: white;
    padding: 1rem;
}

main h2, main h3, main li {
    margin: 1em 0;
}

main h3 {
    margin-top: 1.8em;
}

main h2 {
    margin-top: 2em;
}

main h2#jogo1 {
    margin-top: 1em;
}

main li, main p {
    list-style-type: none;
    font-size: large;
    line-height: 1.5em;
}
