@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: Idroid;
    src: url(fontes/idroid.otf) format(opentype);
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: #84E1AD;
}

header {
    background-image: linear-gradient(to bottom, #3CD681, #288D54, #195B38);
    color: white;
    text-align: center;
    margin: 0;
    padding: 1em;
    height: 9em;
}

#theader {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

#pheader {
    text-align: center;
    font-weight: 100;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

nav {
    text-align: left;
    margin-top: 2em;
}

a {
    text-decoration: none;
}

.menu {
    color: #c2e6d1;
    padding: 10px;
}

.menu:hover {
    background-color: #2e9f5f;
    color: #195B38;
    font-weight: bold;
}

main {
    background-color: white;
    margin: 0 6em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.415);
    padding: 1em;
    border-radius: 0 0 1em 1em;
}

h1 {
    background-image: none;
    margin-top: 0;
}

.idroid {
    font-family: "Idroid", sans-serif;
    color: #3a6c52;
}

.h2main {
    background-image: linear-gradient(to right, rgba(3, 161, 3, 0.204), rgba(0, 128, 0, 0) 80%);
}

p {
    text-align: justify;
    text-indent: 2em;
}

.pdestaque {
    color: #3a6c52;
    font-weight: bold;
}

picture {
    display: block;
    margin: auto;
}

img {
    display: block;
    margin: auto;
}

#video {
    background-color: #195B38;
    padding: 6em;
    margin: 0 -1em 1em -1em;
    display: block;

}

iframe {
    display: block;
    height: 100%;
    width: 100%;
    aspect-ratio: 16 / 9;
    padding: 1em;
}

#v2 {
    margin-bottom: 2em;
}

aside {
    background-color: #c2e6d1;
    font-size: medium;
    padding: 0.5em;
    border-radius: 1em;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.325);
}

#h2aside {
    background-color: #2e9f5f;
    color: white;
    font-size: medium;
    border-radius: 1em 1em 0 0;
    margin: -0.5em;
    padding: 0.5em 0.5em;
}

li::before {
    content: "🗸 ";
}

.li-inline {
    display: block;
}

footer {
    background-color: #195B38;
    color: #c2e6d1;
    font-style: italic;
}

.footer-bold {
    font-weight: bold;
    font-style: normal;
    color: whitesmoke;
}

#pfooter {
    text-align: center;
    margin: 1em 0 0 0;
    padding: 0.5em;
    font-size: 0.7em;
}